﻿@page "/fetchdata"
@using System.Threading
@using TimeZoneConverter
@using dash.Shared
@inject HttpClient Http
@inject NavigationManager uriHelper;

@if (pools == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2 style="display: inline;">Dashboard - CloveTech</h2>
    <div class="float-right">ETH Price: <h4 style="display: inline;">@($"{rate:N2}")</h4> AUD <h4 style="display: inline;">|</h4> @TimeZoneInfo.ConvertTime(DateTime.UtcNow, TZConvert.GetTimeZoneInfo("AUS Eastern Standard Time")).ToString("MMM dd, yyy hh:mm:ss tt")</div>
    <hr/>
    <div class="white_card_body anlite_table p-0">
            <div class="row">
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Workers</h6>
                        <h3 style="display: inline;">@pools.Sum(p => p.Workers.Length)</h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Current Hashrate</h6>
                        <h3 style="display: inline;">@($"{pools.Sum(p => p.Workers.Sum(w => w.CurrentHashrate) / (1000 * 1000 * 1000)):F}")</h3> GH/s
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Reported Hashrate</h6>
                        <h3 style="display: inline;">@($"{pools.Sum(p => p.Workers.Sum(w => w.ReportedHashrate) / (1000 * 1000 * 1000)):F}")</h3> GH/s
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Balance</h6>
                        <h3 style="display: inline;">@($"{(pools.Sum(p => (decimal)p.Balance / 1000000000000000000) + pools.SelectMany(p => p.Addresses.Select(a => a.Balance)).Sum(b => b.Eth)):F}")</h3> ETH <h3 style="display: inline;">|</h3> 
                        <h3 style="display: inline;">@($"{(pools.Sum(p => (decimal)p.Balance / 1000000000000000000) + pools.SelectMany(p => p.Addresses.Select(a => a.Balance)).Sum(b => b.Eth)) * rate:N2}")</h3> AUD
                    </div>
                </div>
                @* <div class="col-lg-2">
                    <div class="single_analite_content">
                        <h6>Projection</h6>
                        <h3 style="display: inline;">@($"{pools.SelectMany(p => p.Addresses.Select(a => a.Balance)).Sum(b => b.Eth):F}")</h3> ETH <h3 style="display: inline;">|</h3> 
                        <h3 style="display: inline;">@($"{pools.SelectMany(p => p.Addresses.Select(a => a.Balance)).Sum(b => b.Eth * rate):N2}")</h3> AUD
                    </div>
                </div> *@
            </div>
        </div>
    @foreach (var pool in pools)
    {
        <hr/>
        <h4><a target="_blank" href="@pool.Dashboard">@pool.Name</a></h4>
        <hr/>
        <div class="white_card_body anlite_table p-0">
            <div class="row">
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Workers</h6>
                        <h4 style="display: inline;">@pool.Workers.Length</h4>
                        @* <h3>$ <span class="counter">14,025</span> </h3> *@
                        @* <div class="d-flex">
                            <div>3.78 <i class="fa fa-caret-up"></i></div>
                            <span>This year</span>
                        </div> *@
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Current Hashrate</h6>
                        <h4 style="display: inline;">@($"{pool.Workers.Sum(w => w.CurrentHashrate) / (1000 * 1000 * 1000):F}")</h4> GH/s
                        @* <h3><span class="counter">2025</span> </h3>
                        <div class="d-flex">
                            <div>3.78<i class="fa fa-caret-up"></i></div>
                            <span>This month</span>
                        </div> *@
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Reported Hashrate</h6>
                        <h4 style="display: inline;">@($"{pool.Workers.Sum(w => w.ReportedHashrate) / (1000 * 1000 * 1000):F}")</h4> GH/s
                        @* <div class="d-flex">
                            <div>3.78 <i class="fa fa-caret-up"></i></div>
                            <span>This month</span>
                        </div> *@
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_analite_content">
                        <h6>Balance</h6>
                        <h4 style="display: inline;">@($"{(decimal)pool.Balance / 1000000000000000000:F}")</h4> ETH <h3 style="display: inline;">|</h3> 
                        <h3 style="display: inline;">@($"{(decimal)pool.Balance / 1000000000000000000 * rate:N2}")</h3> AUD
                        @* <div class="d-flex">
                            <div>3.78 <i class="fa fa-caret-up"></i></div>
                            <span>This month</span>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Worker</th>
                    <th>Reported Hashrate</th>
                    <th>Current Hashrate</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var worker in pool.Workers)
                {
                    <tr>
                        <td>@worker.Name</td>
                        <td>@($"{worker.ReportedHashrate / (1000 * 1000):F} MH/s")</td>
                        <td>@($"{worker.CurrentHashrate / (1000 * 1000):F} MH/s")</td>
                        <td>@(DateTime.UtcNow.Subtract(worker.LastSeen.UtcDateTime).Minutes) minutes ago</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private IEnumerable<Pool> pools;
    private decimal rate;
    Timer timer;

    protected override async Task OnInitializedAsync()
    {
        pools = await Http.GetFromJsonAsync<IEnumerable<Pool>>("api/dashboard");
        rate = await Http.GetFromJsonAsync<decimal>("api/rate");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var rand = new Random().Next(60, 600) * 1000;
            timer = new Timer(new TimerCallback(_ =>
            {
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
            }), null, rand, rand);
        }
    }
}
